.banner{
    background-color: var(--fundo-banner) ;
    color: var(--cor--de--fundo);
    text-align: center;
    padding: 2.5em 2em;


}

.banner__titulo{
    font-size: clamp(1rem, 3.5vw, 4rem);
    font-weight: 700;
}
   

.banner__texto{
    font-weight: 500;
    margin: 1em 0;
    font-size: clamp(1rem, 1.5vw, 4rem);
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--cor--de--fundo);
    color: var(--cor--de--fundo);
    border-radius: 24px;
    padding: 1em;
    width: calc(1em + 60vw);
    


}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px ;
    font-weight: 400;
    text-align: center;
    color: var(--cor--de--fundo);
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 1em;
    
}


@media (max-width: 379.98px){
    .banner{
        background-color: var(--fundo-banner) ;
        color: var(--cor--de--fundo);
        text-align: center;
        padding: 2.5em 2em;
    
    
    }

    .banner__titulo{
        font-size: clamp(1rem, 3.5vw, 4rem);
    }

    .banner__texto{
        font-size: clamp(0rem, 4vw, 4rem);
    }

    .banner__pesquisa{
        width: calc(1em + 85vw);
        padding-left: calc(1em + 1vw);
        margin-left: calc(1em + -10vw);
    }

    .banner__pesquisa::placeholder{
        font-family: var(--fonte-principal);
        font-size: clamp(0.85rem, 1.5vw, 1.8rem)  ;
        font-weight: 400;
        text-align: center;
        color: var(--cor--de--fundo);
        background: url("../img/Lupa.svg") no-repeat;
        background-position: 1em;
        width: 90vw;
        
    }
}

@media (min-width: 380px) and (max-width: 441.98px) {
    .banner{
        background-color: var(--fundo-banner) ;
        color: var(--cor--de--fundo);
        text-align: center;
        padding: 2.5em 2em;
    
    
    }

    .banner__titulo{
        font-size: clamp(1rem, 3.5vw, 4rem);
    }

    .banner__texto{
        font-size: clamp(0rem, 4vw, 4rem);
    }

    .banner__pesquisa{
        width: calc(1em + 75vw);
        padding-left: calc(1em + 3vw);
        margin-left: calc(1em + -8vw);
    }

    .banner__pesquisa::placeholder{
        font-family: var(--fonte-principal);
        font-size: clamp(0rem, 3.5vw, 30rem);
        font-weight: 400;
        text-align: center;
        color: var(--cor--de--fundo);
        background: url("../img/Lupa.svg") no-repeat;
        background-position: 1em;
        width: 75vw;
        
    }
}

@media (min-width: 442px) and (max-width: 521.98px) {
    .banner{
        background-color: var(--fundo-banner) ;
        color: var(--cor--de--fundo);
        text-align: center;
        padding: 2.5em 2em;
    
    
    }

    .banner__titulo{
        font-size: clamp(1rem, 3.5vw, 4rem);
    }

    .banner__texto{
        font-size: clamp(0rem, 3vw, 2rem);
    }

    .banner__pesquisa{
        width: calc(1em + 75vw);
        padding-left: calc(1em + 1vw);
        margin-left: calc(1em + 0vw);
    }

    .banner__pesquisa::placeholder{
        font-family: var(--fonte-principal);
        font-size: clamp(0rem, 3.2vw, 20rem);
        font-weight: 400;
        text-align: center;
        color: var(--cor--de--fundo);
        background: url("../img/Lupa.svg") no-repeat;
        background-position: 1em;
        width: 75vw;
        
    }

}

@media (min-width: 442px) and (max-width: 521.98px) {
    .banner{
        background-color: var(--fundo-banner) ;
        color: var(--cor--de--fundo);
        text-align: center;
        padding: 2.5em 2em;
    
    
    }

    .banner__titulo{
        font-size: clamp(1rem, 3.5vw, 4rem);
    }

    .banner__texto{
        font-size: clamp(0rem, 4vw, 4rem);
    }

    .banner__pesquisa{
        width: calc(1em + 75vw);
        padding-left: calc(1em + 3vw);
        margin-left: calc(1em + -8vw);
    }

    .banner__pesquisa::placeholder{
        font-family: var(--fonte-principal);
        font-size: clamp(0rem, 3.5vw, 30rem);
        font-weight: 400;
        text-align: center;
        color: var(--cor--de--fundo);
        background: url("../img/Lupa.svg") no-repeat;
        background-position: 1em;
        width: 75vw;
        
    }
}

@media (min-width: 442px) and (max-width: 521.98px) {
    .banner{
        background-color: var(--fundo-banner) ;
        color: var(--cor--de--fundo);
        text-align: center;
        padding: 2.5em 2em;
    
    
    }

    .banner__titulo{
        font-size: clamp(1rem, 4.5vw, 4rem);
    }

    .banner__texto{
        font-size: clamp(0rem, 3vw, 2rem);
    }

    .banner__pesquisa{
        width: calc(1em + 75vw);
        padding-left: calc(1em + 0.5vw);
        margin-left: calc(1em + 1vw);
    }

    .banner__pesquisa::placeholder{
        font-family: var(--fonte-principal);
        font-size: clamp(0rem, 3.2vw, 20rem);
        font-weight: 400;
        text-align: center;
        color: var(--cor--de--fundo);
        background: url("../img/Lupa.svg") no-repeat;
        background-position: 1em;
        width: 75vw;
        
    }


}

@media (min-width: 522px) and (max-width: 601.98px) {
    .banner{
        background-color: var(--fundo-banner) ;
        color: var(--cor--de--fundo);
        text-align: center;
        padding: 2.5em 2em;
    
    
    }

    .banner__titulo{
        font-size: clamp(1rem, 4.5vw, 4rem);
    }

    .banner__texto{
        font-size: clamp(0rem, 3vw, 2rem);
    }

    .banner__pesquisa{
        width: calc(1em + 70vw);
        padding-left: calc(1em + -1.5vw);
        margin-left: calc(1em + -1vw);
    }

    .banner__pesquisa::placeholder{
        font-family: var(--fonte-principal);
        font-size: clamp(1rem, 2.5vw, 30rem);
        font-weight: 400;
        text-align: center;
        color: var(--cor--de--fundo);
        background: url("../img/Lupa.svg") no-repeat;
        background-position: 1em;
        width: 70vw;
        
    }
}

@media (min-width: 602px) and (max-width: 671.98px) {
    .banner{
        background-color: var(--fundo-banner) ;
        color: var(--cor--de--fundo);
        text-align: center;
        padding: 2.5em 2em;
    
    
    }

    .banner__titulo{
        font-size: clamp(1rem, 4.5vw, 4rem);
    }

    .banner__texto{
        font-size: clamp(0rem, 3vw, 2rem);
    }

    .banner__pesquisa{
        width: calc(1em + 70vw);
        padding-left: calc(1em + -0.5vw);
        margin-left: calc(1em + -1vw);
    }

    .banner__pesquisa::placeholder{
        font-family: var(--fonte-principal);
        font-size: clamp(1rem, 2.5vw, 30rem);
        font-weight: 400;
        text-align: center;
        color: var(--cor--de--fundo);
        background: url("../img/Lupa.svg") no-repeat;
        background-position: 1em;
        width: 70vw;
        
    }
}


/*

@media screen and (min-width: 1024px){
    .banner__titulo{
        font-size: clamp(1rem, 3.5vw, 4rem);
    }

    .banner__pesquisa{
        width: calc(1em + 60vw);
    }

    .banner__pesquisa ::placeholder{
        background-position: 7em;
    }

    .banner__texto{
        font-size: clamp(1rem, 1.5vw, 4rem);
    }
}

@media screen and (min-width: 1728px){
    .banner__pesquisa{
        width: 35%;
    }
    .banner__pesquisa::placeholder{
        background-position: 12em ;
    }

    .banner{
        padding: 6em 0;
    }

    .banner__texto{
        width: calc(1em + 60vw)
    }
}

