.carrossel__titulo{
    color: var(--titulo);
    background-color: var(--fundo-menu);
    text-align: center;
    text-transform: uppercase;
    font-size: 28px ;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}


.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}
.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes{
    display: flex;
    justify-content: space-between;

}

.botoes{
    display: flex;
}

.card{
    background: var(--titulo);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao{
    margin-top: 2vh;
}

.estrelinhas{
    margin-bottom: 1vh;
}
.descricao__titulo{
    color: var(--cor--menu);
    font-weight: 700;
    margin-bottom: 3vh;
}

.descricao__titulo-livro{
    color: var(--fundo-menu);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__texto{
    font-size: 14px;
    color: var(--fundo-menu);
    
    
}

.botoes__item{
    margin: 0.5em;
}

.botoes__ancora{
    background-color: var(--cor--menu);
    padding: 1em 2.2em;
    color: var(--fundo-menu);
    font-weight: 700;
    text-decoration: none;
}

.descricao__imagem{
    width: 35vw;
}

.mais__vendidos-titulo{
    background: var(--fundo-menu);


}

.descricao__imagem-autora{
    width: 60vw;
}

@media (max-width: 400px) {  
    .carrossel__titulo{
        color: var(--titulo);
        background-color: var(--fundo-menu);
        text-align: center;
        text-transform: uppercase;
        font-size: clamp(1rem, 2vw, 3rem) ;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
    }
    
    .swiper-slide img{
        width: 100%;
    }
    
    
    .swiper-pagination{
        position: initial;
        margin: 0.5em 0;
    }
    .card__descricao{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }
    
    .card__botoes{
        display: flex;
        justify-content: space-between;
        

        
    }
    .card__botao--icone{
       width: calc(1em + 4vw) ;
    }
    .botoes{
        display: flex;
    }
    
    .card{
        background: var(--titulo);
        box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
        border-radius: 10px;
        margin: 1em;
        padding: 1em;
    }
    
    .descricao{
        margin-top: 2vh;
    }
    
    .estrelinhas{
        margin-bottom: 1vh;
    }
    .descricao__titulo{
        color: var(--cor--menu);
        font-weight: 700;
        margin-bottom: 3vh;
        font-size: calc(1em + -1vw);
    }
    
    .descricao__titulo-livro{
        color: var(--fundo-menu);
        font-size: clamp(0.8rem, 2vw, 3rem);
        font-weight: 700;
        margin: 0.5em 0;
    }
    
    .descricao__texto{
        font-size: clamp(0.7rem, 2vw, 3rem);
        color: var(--fundo-menu);
        
        
    }
    
    .botoes__item{
        margin: calc(1em + -2vw);
        
        
    }
    
    .botoes__ancora{
        background-color: var(--cor--menu);
        padding: calc(0em + 5vw);
        color: var(--fundo-menu);
        font-weight: 700;
        text-decoration: none;
        font-size: clamp(0rem, 4vw, 3rem) ;
       
        
    }
    
    .descricao__imagem{
        width: calc(1em + 25vw);
    }
    
    .mais__vendidos-titulo{
        background: var(--fundo-menu);
    
    
    }
    
    .descricao__imagem-autora{
        width:  calc(1em + 32vw);
    }
    
}
@media (min-width: 380px) and (max-width: 441.98px) {
    .carrossel__titulo{
        color: var(--titulo);
        background-color: var(--fundo-menu);
        text-align: center;
        text-transform: uppercase;
        font-size: clamp(1rem, 2vw, 3rem) ;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
    }
    
    .swiper-slide img{
        width: 100%;
    }
    
    
    .swiper-pagination{
        position: initial;
        margin: 0.5em 0;
    }
    .card__descricao{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }
    
    .card__botoes{
        display: flex;
        justify-content: space-between;
        

        
    }
    .card__botao--icone{
       width: calc(1em + 4vw) ;
    }
    .botoes{
        display: flex;
    }
    
    .card{
        background: var(--titulo);
        box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
        border-radius: 10px;
        margin: 1em;
        padding: 1em;
    }
    
    .descricao{
        margin-top: 2vh;
    }
    
    .estrelinhas{
        margin-bottom: 1vh;
    }
    .descricao__titulo{
        color: var(--cor--menu);
        font-weight: 700;
        margin-bottom: 3vh;
        font-size: calc(1em + 0vw);
    }
    
    .descricao__titulo-livro{
        color: var(--fundo-menu);
        font-size: clamp(1rem, 2vw, 3rem);
        font-weight: 700;
        margin: 0.5em 0;
    }
    
    .descricao__texto{
        font-size: clamp(0.6rem, 2vw, 3rem);
        color: var(--fundo-menu);
        
        
    }
    
    .botoes__item{
        margin: calc(1em + -2vw);
        
        
    }
    
    .botoes__ancora{
        background-color: var(--cor--menu);
        padding: calc(0em + 5vw);
        color: var(--fundo-menu);
        font-weight: 700;
        text-decoration: none;
        font-size: clamp(0rem, 4vw, 3rem) ;
       
        
    }
    
    .descricao__imagem{
        width: calc(1em + 25vw);
    }
    
    .mais__vendidos-titulo{
        background: var(--fundo-menu);
    
    
    }
    
    .descricao__imagem-autora{
        width:  calc(1em + 32vw);
    }

}

@media (min-width: 442px) and (max-width: 521.98px) {
    .carrossel__titulo{
        color: var(--titulo);
        background-color: var(--fundo-menu);
        text-align: center;
        text-transform: uppercase;
        font-size: clamp(1rem, 2vw, 3rem) ;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
    }
    
    .swiper-slide img{
        width: 100%;
    }
    
    
    .swiper-pagination{
        position: initial;
        margin: 0.5em 0;
    }
    .card__descricao{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }
    
    .card__botoes{
        display: flex;
        justify-content: space-between;
        

        
    }
    .card__botao--icone{
       width: calc(1em + 4vw) ;
    }
    .botoes{
        display: flex;
    }
    
    .card{
        width: calc(1em + 70vw) ;
        margin: 2em auto;
    }

    .descricao{
        margin-top: 2vh;
    }
    
    .estrelinhas{
        margin-bottom: 1vh;
    }
    .descricao__titulo{
        color: var(--cor--menu);
        font-weight: 700;
        margin-bottom: 3vh;
        font-size: calc(1em + 0vw);
    }
    
    .descricao__titulo-livro{
        color: var(--fundo-menu);
        font-size: clamp(1rem, 2vw, 3rem);
        font-weight: 700;
        margin: 0.5em 0;
    }
    
    .descricao__texto{
        font-size: clamp(0.7rem, 2vw, 3rem);
        color: var(--fundo-menu);
        
        
    }
    
    .botoes__item{
        margin: calc(1em + -2vw);
        
        
    }
    
    .botoes__ancora{
        background-color: var(--cor--menu);
        padding: calc(0em + 5vw);
        color: var(--fundo-menu);
        font-weight: 700;
        text-decoration: none;
        font-size: clamp(0rem, 3vw, 3rem) ;
       
        
    }
    
    .descricao__imagem{
        width: calc(1em + 25vw);
    }
    
    .mais__vendidos-titulo{
        background: var(--fundo-menu);
    
    
    }
    
    .descricao__imagem-autora{
        width:  calc(1em + 32vw);
    }


}
@media (min-width: 442px) and (max-width: 521.98px) {
    .carrossel__titulo{
        color: var(--titulo);
        background-color: var(--fundo-menu);
        text-align: center;
        text-transform: uppercase;
        font-size: clamp(1rem, 2vw, 3rem) ;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
    }
    
    .swiper-slide img{
        width: 100%;
    }
    
    
    .swiper-pagination{
        position: initial;
        margin: 0.5em 0;
    }
    .card__descricao{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }
    
    .card__botoes{
        display: flex;
        justify-content: space-between;
        

        
    }
    .card__botao--icone{
       width: calc(1em + 4vw) ;
    }
    .botoes{
        display: flex;
    }
    
    .card{
        width: calc(1em + 70vw) ;
        margin: 2em auto;
    }

    .descricao{
        margin-top: 2vh;
    }
    
    .estrelinhas{
        margin-bottom: 1vh;
    }
    .descricao__titulo{
        color: var(--cor--menu);
        font-weight: 700;
        margin-bottom: 3vh;
        font-size: calc(1em + 0vw);
    }
    
    .descricao__titulo-livro{
        color: var(--fundo-menu);
        font-size: clamp(1rem, 2vw, 3rem);
        font-weight: 700;
        margin: 0.5em 0;
    }
    
    .descricao__texto{
        font-size: clamp(0.7rem, 2vw, 3rem);
        color: var(--fundo-menu);
        
        
    }
    
    .botoes__item{
        margin: calc(1em + -2vw);
        
        
    }
    
    .botoes__ancora{
        background-color: var(--cor--menu);
        padding: calc(0em + 5vw);
        color: var(--fundo-menu);
        font-weight: 700;
        text-decoration: none;
        font-size: clamp(0rem, 3vw, 3rem) ;
       
        
    }
    
    .descricao__imagem{
        width: calc(1em + 25vw);
    }
    
    .mais__vendidos-titulo{
        background: var(--fundo-menu);
    
    
    }
    
    .descricao__imagem-autora{
        width:  calc(1em + 32vw);
    }

}

@media (min-width: 522px) and (max-width: 601.98px) {
    .carrossel__titulo{
        color: var(--titulo);
        background-color: var(--fundo-menu);
        text-align: center;
        text-transform: uppercase;
        font-size: clamp(1rem, 4vw, 3rem) ;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
    }
    
    .swiper-slide img{
        width: 100%;
    }
    
    
    .swiper-pagination{
        position: initial;
        margin: 0.5em 0;
    }
    .card__descricao{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }
    
    .card__botoes{
        display: flex;
        justify-content: space-between;
        

        
    }
    .card__botao--icone{
       width: calc(1em + 4vw) ;
    }
    .botoes{
        display: flex;
    }
    
    .card{
        width: calc(1em + 70vw) ;
        margin: 2em auto;
    }

    .descricao{
        margin-top: 2vh;
    }
    
    .estrelinhas{
        margin-bottom: 1vh;
    }
    .descricao__titulo{
        color: var(--cor--menu);
        font-weight: 700;
        margin-bottom: 3vh;
        font-size: calc(1em + 0vw);
    }
    
    .descricao__titulo-livro{
        color: var(--fundo-menu);
        font-size: clamp(1rem, 2vw, 3rem);
        font-weight: 700;
        margin: 0.5em 0;
    }
    
    .descricao__texto{
        font-size: clamp(0.9rem, 2vw, 3rem);
        color: var(--fundo-menu);
        
        
    }
    
    .botoes__item{
        margin: calc(1em + -2vw);
        
        
    }
    
    .botoes__ancora{
        background-color: var(--cor--menu);
        padding: calc(0em + 5vw);
        color: var(--fundo-menu);
        font-weight: 700;
        text-decoration: none;
        font-size: clamp(0rem, 3vw, 3rem) ;
       
        
    }
    
    .descricao__imagem{
        width: calc(1em + 23vw);
    }
    
    .mais__vendidos-titulo{
        background: var(--fundo-menu);
    
    
    }
    
    .descricao__imagem-autora{
        width:  calc(1em + 32vw);
    }
}

@media (min-width: 602px) and (max-width: 671.98px) {
    .carrossel__titulo{
        color: var(--titulo);
        background-color: var(--fundo-menu);
        text-align: center;
        text-transform: uppercase;
        font-size: clamp(1rem, 4vw, 3rem) ;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
    }
    
    .swiper-slide img{
        width: 100%;
    }
    
    
    .swiper-pagination{
        position: initial;
        margin: 0.5em 0;
    }
    .card__descricao{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }
    
    .card__botoes{
        display: flex;
        justify-content: space-between;
        

        
    }
    .card__botao--icone{
       width: calc(1em + 4vw) ;
    }
    .botoes{
        display: flex;
    }
    
    .card{
        width: calc(1em + 70vw) ;
        margin: 2em auto;
    }

    .descricao{
        margin-top: 2vh;
    }
    
    .estrelinhas{
        margin-bottom: 1vh;
    }
    .descricao__titulo{
        color: var(--cor--menu);
        font-weight: 700;
        margin-bottom: 3vh;
        font-size: calc(1em + 1vw);
    }
    
    .descricao__titulo-livro{
        color: var(--fundo-menu);
        font-size: clamp(1rem, 2vw, 3rem);
        font-weight: 700;
        margin: 0.5em 0;
    }
    
    .descricao__texto{
        font-size: clamp(0.9rem, 2vw, 3rem);
        color: var(--fundo-menu);
        
        
    }
    
    .botoes__item{
        margin: calc(1em + -2vw);
        
        
    }
    
    .botoes__ancora{
        background-color: var(--cor--menu);
        padding: calc(0em + 4vw);
        color: var(--fundo-menu);
        font-weight: 700;
        text-decoration: none;
        font-size: clamp(0rem, 3vw, 3rem) ;
       
        
    }
    
    .descricao__imagem{
        width: calc(1em + 22vw);
    }
    
    .mais__vendidos-titulo{
        background: var(--fundo-menu);
    
    
    }
    
    .descricao__imagem-autora{
        width:  calc(1em + 32vw);
    }
}



/*
@media  screen and (min-width: 1024px) {
    .carrossel__titulo{
        font-size: clamp(1rem, 2.5vw, 2rem);
    }
    
    .swiper-pagination{
        margin: 2em 0 3em 0
    }

    .swiper{
        width: calc(1em + 70vw) ;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: calc(1em + 24vw)
    }

    .card{
        width: calc(1em + 50vw) ;
        margin: 2em auto;
    }

    .descricao__imagem{
        width: calc(1em + 18vw);
    }

    .descricao__imagem-autora{
        width: calc(1em + 20vw);
    }
}


