.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    
    
}

.cabecalho{
    background-color: var(--cor--menu);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
  
}

.container__imagem{
    padding: 1em;
    margin-right: calc(1em + -7vw);
    margin-left: calc(1em + -1vw);
}

.container__imagem__usuario{
    padding-right: calc(1em + 4vw);
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100% ;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}
    

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--fundo-menu);
}

.lista-menu__titulo{
    color: var(--cor--menu);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--letras-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}
.opcao__botao{
    display: none;
}


@media (max-width: 379.98px) {  
    .container__titulo, 
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        color: var(--cor--de--fundo);
    

    }
    
    .container__titulo{
        font-weight: 400;
        display: none;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: none;
     
    }

    .opcoes__item{
        padding: 0 1em ;
        text-transform: uppercase;
        color: var(--cor--de--fundo);
    }

    .opcoes__link{
        text-decoration: none;
        color:var(--cor--de--fundo);
    }

    .container__imagem-transparente{
        display: none;

    }

    .cabecalho__menu-hamburguer{
        display: block;
    }

    .container__imagem{
      margin-right: calc(1em + -11vw);
      margin-left: calc(1em + -6vw);


    }
    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
       
    }

    .container__imagem__logo{
        margin: 1em;
    }
    
    .opcao__botao,  .opcoes__botao{
        display: none;
    }

    
    

   .lista-menu{
    margin-left: calc(1em + -4vw);

   }

   
}




/* @media screen and (min-width: 1024px){
    
    .container__titulo, 
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        color: var(--cor--de--fundo);
    

    }
    
    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
     
    }

    .opcoes__item{
        padding: 0 1em ;
        text-transform: uppercase;
        color: var(--cor--de--fundo);
    }

    .opcoes__link{
        text-decoration: none;
        color:var(--cor--de--fundo);
    }

    .container__imagem-transparente{
        display: none;

    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .container__imagem{
      margin-right: calc(1em + -2vw);
      margin-left: calc(1em + -1vw);


    }
    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
       
    }

    .container__imagem__logo{
        margin: 1em;
    }
    
    .opcao__botao,  .opcoes__botao{
        display: none;
    }

    
    

   .lista-menu{
    margin-left: calc(1em + -4vw);

   }

   
}

@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--fundo-menu);
    }
};
    */ 
