.topicos{
    background: var(--fundo-banner);
    text-align:  center;
    padding: 1em 0;
}

.topicos__titulo{
    color: var(--fundo-menu);
    font-weight: 700;
    margin-bottom: 1em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.topicos__itens{
    margin: 2em 0.5em;
}

.topicos__links{
    color: var(--preto);
    padding: 1em;
    background-color: var(--fundo-menu);
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
   
}
@media (max-width: 379.98px) {  
    .topicos{
        background: var(--fundo-banner);
        text-align:  center;
        padding: 1em 0;
    }
    
    .topicos__titulo{
        color: var(--fundo-menu);
        font-weight: 700;
        margin-bottom: 1em;
    }
    
    .topicos__lista{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    
    .topicos__itens{
        margin: 2em 0.5em;
    }
    
    .topicos__links{
        color: var(--preto);
        padding: 1em;
        background-color: var(--fundo-menu);
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;

}
}

/*
@media  screen and (min-width: 1024px){
     
    .topicos__titulo{
        font-size: clamp(1rem, 2vw, 2rem) ;

}
}
    
